{% extends 'store/base.html' %}

{% load static %}


{% block css_links %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="{% static 'plugins/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/checkout.css' %}">
    <link rel="stylesheet" href="{% static 'css/paypal.css' %}">
    <script>
        total = {{ order.get_cart_total }}
    </script>
{% endblock css_links %}


{% block content %}
<div class="container checkout-wrapper">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light">
    <div class="container">
        <div class="row px-4 px-lg-5 py-lg-4 align-items-center">
        <div class="col-lg-6">
            <h1 class="h2 text-uppercase mb-0">Checkout</h1>
        </div>
        <div class="col-lg-6 text-lg-right">
            <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-lg-end mb-0 px-0">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item"><a href="cart.html">Cart</a></li>
                <li class="breadcrumb-item active" aria-current="page">Checkout</li>
            </ol>
            </nav>
        </div>
        </div>
    </div>
    </section>
    <section class="py-5">
    <!-- BILLING ADDRESS-->
        <h2 class="h4 text-uppercase mb-4">Billing Details</h2>
    <div class="row">
        <div class="col-lg-8">
        <form action="#">
            <div class="row">
            <div class="col-lg-12 form-group">
                <label class="text-small text-uppercase mb-3" for="address">Address</label>
                <input class="form-control form-control-lg" id="address" type="text" placeholder="House number and street name">
            </div>
            <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase mb-3" for="city">Town / City</label>
                <input class="form-control form-control-lg" id="city" type="text">
            </div>
            <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase mb-3" for="state">State</label>
                <input class="form-control form-control-lg" id="state" type="text">
            </div>
            <div class="col-lg-6 form-group">
                <label class="text-small text-uppercase mb-3" for="state">ZipCode</label>
                <input class="form-control form-control-lg" id="zipcode" type="text">
            </div>
            <div class="col-12 mt-4">
                <h2 class="h4 text-uppercase mb-4">Payment Method</h2>
            </div>
            <div class="col-lg-6 form-group">
                <div class="custom-control custom-checkbox paymentMethod">
                <input value="pay-cred" class="form-check-input" id="paymentCred" name="paymentMethod" type="radio">
                <label class="custom-control-label text-small mb-3" for="paymentCred">Credit / Debit Card</label>
                </div>
            </div>
            <div class="col-lg-6 form-group">
                <div class="custom-control custom-checkbox paymentMethod">
                <input value="pay-paypal" class="form-check-input" id="paymentPaypal" name="paymentMethod" type="radio">
                <label class="custom-control-label text-small mb-3" for="paymentPaypal">Paypal</label>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="row payment" id="pay-cred">
                    <div class="col-12 mt-4">
                        <h2 class="h4 text-uppercase mb-4">Card Details</h2>
                    </div>
                    <div class="col-lg-6 form-group">
                        <div class="custom-control custom-checkbox">
                        <label class="custom-control-label text-small mb-3" for="cardno">Card Number</label>
                        <input class="form-control form-control-lg" id="cred-num" type="text">
                        </div>
                    </div>
                    <div class="col-lg-3 form-group d-flex align-items-center mt-5" style="justify-content: space-evenly;">
                        <div class="custom-control custom-checkbox">
                            <select style="padding-right: 1.8rem;" id="cred-mm" class="mb-3 form-select form-control form-control-lg" aria-label="Default select example">
                                <option selected>MM</option>
                                <option value="01">01</option>
                                <option value="02">02</option>
                                <option value="03">03</option>
                                <option value="04">04</option>
                                <option value="05">05</option>
                                <option value="06">06</option>
                                <option value="07">07</option>
                                <option value="08">08</option>
                                <option value="09">09</option>
                                <option value="10">10</option>
                                <option value="11">11</option>
                                <option value="12">12</option>
                            </select>
                        </div>
                        <div class="custom-control custom-checkbox">
                            <select style="padding-right: 1.8rem;" class="form-select form-control form-control-lg mb-3" id="cred-yy" aria-label="Default select example">
                                <option selected>YY</option>
                                <option value="21">21</option>
                                <option value="22">22</option>
                                <option value="23">23</option>
                                <option value="24">24</option>
                                <option value="25">25</option>
                                <option value="26">26</option>
                                <option value="27">27</option>
                                <option value="28">28</option>
                                <option value="29">29</option>
                            </select>
                            </div>
                    </div>
                    <div class="col-lg-3 form-group">
                    </div>
                    <div class="col-lg-3 form-group">
                        <div class="custom-control custom-checkbox">
                        <label class="custom-control-label text-small mb-3" for="cred-ccv">CVV</label>
                        <input class="form-control form-control-lg" id="cred-ccv" type="text">
                        </div>
                    </div>

                    <div class="col-lg-12 form-group mb-3" style="margin-top: 5rem;">
                        <div class="active" id="paypal">
                            <div class="floating">
                                <div class="thickness"></div>
                                <div class="thickness"></div>
                                <div class="thickness"></div>
                                <div class="card_body">
                                <div class="paypal_center svg"></div>
                                <div class="logo svg"></div>
                                <div class="paywave svg"></div>
                                <div class="chips svg"></div>
                                <div class="card_no text">
                                    <span id="paypal-num">1234-5678-9012-3456</span>
                                </div>
                                <div class="valid text">
                                    VALID <br> THUR
                                </div>
                                <div class="valid_date text">
                                    <span id="paypal-mm">02</span>/<span id="paypal-yy">23</span>
                                </div>
                                <div class="holder text">CVV: <span id="paypal-ccv">776</span></div>
                                <div class="mastercard_icon svg"></div>

                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 my-4" id="paypal-pay">
                            <button class="btn btn-dark make-payment mb-4">Make Payment</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 payment" style="display: none;" id="pay-paypal">
                <button class="btn btn-warning make-payment">Make Payment</button>
            </div>
            </div>
        </form>
        </div>
        <!-- ORDER SUMMARY-->
        <div class="col-lg-4">
        <div class="card border-0 rounded-0 p-lg-4 bg-light">
            <div class="card-body">
            <h5 class="text-uppercase mb-4">Your order</h5>
            <ul class="list-unstyled mb-0">

            {% for item in items %}
                <li class="d-flex align-items-center justify-content-between"><strong class="small font-weight-bold">{{ item.product.name }}</strong><span class="text-muted small">&#8377;{{ item.product.price|floatformat:2 }}</span></li>
                <li class="border-bottom my-2"></li>
            {% endfor %}
                <li class="d-flex align-items-center justify-content-between mb-2"><strong class="text-uppercase small font-weight-bold">Total Items</strong><span>{{ order.get_cart_items }} Items</span></li>
                <li class="d-flex align-items-center justify-content-between"><strong class="text-uppercase small font-weight-bold">Total</strong><span class="cart-total">&#8377;{{ order.get_cart_total|floatformat:2 }}</span></li>
            </ul>
            </div>
        </div>
        </div>
    </div>
    </section>
</div>
<div class="container text-center checkout-alt" style="background-image: url('https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fcdn.wallpapersafari.com%2F65%2F61%2Fv0f3Po.jpg&f=1&nofb=1');background-size: cover;height: 90vh; width: 100vw; display: flex; vertical-align: middle; flex-direction: column; align-items: center; justify-content: center;">
    <h1 class="mb-2">Sorry! Your cart seems to be empty</h1>
    <h2 class="mb-3">Please fill your cart to continue.</h2>
    <button class="btn btn-dark"><a href="{% url 'store' %}" style="text-decoration: none;color: inherit;">Go Back to shop</a></button>
</div>
{% endblock content %}



{% block js_links %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{% static 'js/checkout.js' %}"></script>
    <script src="{% static 'js/paypal.js' %}"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
{% endblock js_links %}
